.landing_wrapper {
  /* display: flex;
    align-items: flex-start;
    justify-content: center; */
  color: var(--black);
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px; */
  display: flex;
  flex-direction: row;

  /* width: 100%; */

  /* padding: 1rem 0; */
  padding: 4rem 8rem;

  /* margin-bottom: 2rem; */

  /* width: 80vw; */

  /* margin-top: 20px; */
}

.landing_wrapper h1 {
  margin-top: 0rem;
}

.greenUnderline {
  border-bottom: 6px solid #46b983 !important;
  border-bottom: 1px solid #494949;
}

.landing_wrapper_dark {
  color: var(--black);
  display: flex;
  flex-direction: row;

  /* width: 100%; */

  padding: 6rem 8rem;
  /* margin-bottom: 2rem; */

  /* width: 80vw; */

  /* margin-top: 20px; */
  background: #f3f5fc;
}

.landingText {
  display: flex;
  flex-direction: column;
}

.button_wrapper {
  display: flex;
  /* gap: 20px; */
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4em;
}

@media screen and (max-width: 1000px) {
  .landing_wrapper {
    /* padding: 0 !important; */
    display: flex !important;
    padding: 1.4rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing_wrapper_dark {
    display: flex !important;
    /* padding: 0; */
    padding: 1.4rem 2rem;

    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .landingText {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100vw;
  }

  .avatar {
    margin: 30px 0 0 0;
    width: 60vw;
  }

  .heroImage {
    height: auto;
  }

  .avatar img {
    width: 80vw;
    /* height: auto; */
  }

  .button_wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .avatar img {
    width: 60vw;
  }
}
