.container {
  /* min-height: 100vh; */
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 4rem 8rem; */
  padding: 0rem 8rem;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.searchButton {
  background: #000080;
  border-radius: 900px;
  border: none;
  color: white;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 1rem;
}

.searchButton:hover {
  filter: opacity(36%);
}
/* @media (max-width: 600px) {
  h1 {
    text-align: center;
  }
} */
@media screen and (max-width: 1000px) {
  .searchBar {
    width: 80vw;
    min-width: unset;
  }

  .container {
    /* padding: 0 !important; */
    /* display: flex !important; */
    padding: 1.4rem 2rem;
  }

  .searchButton {
    width: 200px;
    margin-top: 1rem;
    margin-left: 0;
  }
}
