.cvc_card {
  /* height: 200px; */
  width: 100%;
  max-width: 680px;
  border-radius: 20px;
  margin: 1rem;
  padding: 1.4rem;
  background-color: white;
  /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.006), 0px 4px 6px rgba(0, 0, 0, 0.01);
  position: relative;
}

.cvcFlexEnd {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: center; */
  margin-top: 0.5rem;
}

.cvcFlexEnd div {
  margin: 0 20px;
}

.cvcName {
  font-size: 1.1rem;
}

.subText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  color: var(--grey);
  font-size: 0.8rem;
}

.directions {
  color: var(--blue-pure);
  font-size: 0.8rem;
  /* position: absolute; */
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
}

.lastUpdated {
  font-size: 0.8rem;
  color: var(--grey);
}

.searchButton {
  background: #000080;
  border-radius: 900px;
  border: none;
  color: white;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.registerButton {
  background: #f3f5fd;

  /* Blue */

  border: 1px solid #000080;
  box-sizing: border-box;
  /* slight-shadow */
  font-size: 1rem;
  padding: 4px 16px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.006), 0px 4px 6px rgba(0, 0, 0, 0.01);
  border-radius: 20px;
  color: var(--blue-pure);
}

.registerButton:hover {
  cursor: pointer;
}
