.cvc_card {
    width: 100%;
    max-width: 680px;
    border-radius: 20px;
    margin: 1rem;
    padding: 1.4rem;
    background-color: #f3f5fd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.006), 0px 4px 6px rgba(0, 0, 0, 0.01);
    position: relative;
}

.cvcName {
    font-size: 1.1rem;
}

.subText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address {
    color: var(--grey);
    font-size: 0.8rem;
}

.directions {
    color: var(--blue-pure);
    font-size: 0.8rem;
    font-weight: 600;
    /* position: absolute; */
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
}

.lastUpdated {
    font-size: 0.8rem;
    color: var(--grey);
}

.vaccine_names {
    font-weight: 600;
}

.searchButton {
    background: #000080;
    border-radius: 900px;
    border: none;
    color: white;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
}

.registerButton {
    background: #f3f5fd;
    /* Blue */
    border: 1px solid #000080;
    box-sizing: border-box;
    /* slight-shadow */
    font-size: 1rem;
    padding: 4px 16px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.006), 0px 4px 6px rgba(0, 0, 0, 0.01);
    border-radius: 20px;
    color: var(--blue-pure);
}

.registerButton:hover {
    cursor: pointer;
}

.field {
    /* font-size: 15px; */
    max-width: 100px;
}

.endRow {
    display: flex;
    justify-content: flex-end;
}

.add_info_cta {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000080;
}

.cvcCrowdedWrapper {
    display: inline-flex;
    font-size: 14px;
    margin: 24px 0 28px 0;
    width: 100%;
    flex-wrap: wrap;
    font-family: "Poppins", -apple-system,
}

.cvcCrowdedNoRush,
.cvcCrowdedMediumRush,
.cvcCrowdedHighRush {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 34px;
}

.cvcConfidenceHigh,
.cvcConfidenceMedium,
.cvcConfidenceLow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cvcCrowdedNoRush:before {
    background-size: 100%;
    background: url('data:image/svg+xml;utf8,<svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.49559 5.99982C7.32399 5.99982 7.99554 6.67137 7.99554 7.49977L7.99476 8.24811C8.09763 10.0846 6.68313 11.0005 4.06007 11.0005C1.44547 11.0005 0 10.0966 0 8.27432V7.49977C0 6.67137 0.671552 5.99982 1.49995 5.99982H6.49559ZM3.99988 0C5.38077 0 6.50021 1.11943 6.50021 2.50033C6.50021 3.88122 5.38077 5.00066 3.99988 5.00066C2.61898 5.00066 1.49955 3.88122 1.49955 2.50033C1.49955 1.11943 2.61898 0 3.99988 0Z" fill="currentColor"/>  </svg>');
}

.cvcCrowdedMediumRush:before {
    background: url('data:image/svg+xml;utf8,<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">    <path d="M5.50433 5.99956C4.67592 5.99956 4.00436 6.67108 4.00436 7.49945L4.00515 8.24776C3.90228 10.0842 5.31679 11 7.93988 11C10.5545 11 12 10.0962 12 8.27396V7.49945C12 6.67108 11.3284 5.99956 10.5 5.99956H5.50433ZM1.50381 5.99956C0.675395 5.99956 0.00383472 6.67108 0.00383472 7.49945L0.00458622 8.02598C-0.0858269 9.67332 1.16403 10.4992 3.44856 10.4992C3.75868 10.4992 4.05022 10.4841 4.32249 10.4539C3.78579 9.9583 3.49869 9.28578 3.49967 8.43595L3.50594 8.2198L3.50437 7.49945C3.50437 6.90192 3.76644 6.3656 4.18191 5.99915L1.50381 5.99956ZM8.00007 0C6.61916 0 5.49972 1.11939 5.49972 2.50022C5.49972 3.88105 6.61916 5.00044 8.00007 5.00044C9.38098 5.00044 10.5004 3.88105 10.5004 2.50022C10.5004 1.11939 9.38098 0 8.00007 0ZM3.00017 0.999926C1.89562 0.999926 1.0002 1.89529 1.0002 2.99978C1.0002 4.10427 1.89562 4.99963 3.00017 4.99963C4.10472 4.99963 5.00013 4.10427 5.00013 2.99978C5.00013 1.89529 4.10472 0.999926 3.00017 0.999926Z" fill="currentColor"/>    </svg>');
    background-size: 80%;
}

.cvcCrowdedHighRush:before {
    background: url('data:image/svg+xml;utf8,<svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.4958 6C11.3242 6 11.9958 6.67157 11.9958 7.5L11.995 8.24837C12.0979 10.0849 10.6833 11.0008 8.06019 11.0008C5.44552 11.0008 4 10.0969 4 8.27457V7.5C4 6.67157 4.67157 6 5.5 6H10.4958ZM14.4964 6C15.3248 6 15.9964 6.67157 15.9964 7.5L15.9956 8.02657C16.0861 9.67404 14.8362 10.5 12.5516 10.5C12.2415 10.5 11.9499 10.4849 11.6777 10.4547C12.2144 9.95904 12.5015 9.28646 12.5005 8.43657L12.4942 8.2204L12.4958 7.5C12.4958 6.90243 12.2337 6.36607 11.8182 5.99959L14.4964 6ZM8 0C9.38094 0 10.5004 1.11947 10.5004 2.5004C10.5004 3.88134 9.38094 5.00081 8 5.00081C6.61906 5.00081 5.49959 3.88134 5.49959 2.5004C5.49959 1.11947 6.61906 0 8 0ZM13 1C14.1046 1 15 1.89543 15 3C15 4.10457 14.1046 5 13 5C11.8954 5 11 4.10457 11 3C11 1.89543 11.8954 1 13 1Z" fill="currentColor"/><path d="M5.50433 5.99956C4.67592 5.99956 4.00436 6.67108 4.00436 7.49945L4.00515 8.24776C3.90228 10.0842 5.31679 11 7.93988 11C10.5545 11 12 10.0962 12 8.27396V7.49945C12 6.67108 11.3284 5.99956 10.5 5.99956H5.50433ZM1.50381 5.99956C0.675395 5.99956 0.00383472 6.67108 0.00383472 7.49945L0.00458622 8.02598C-0.0858269 9.67332 1.16403 10.4992 3.44856 10.4992C3.75868 10.4992 4.05022 10.4841 4.32249 10.4539C3.78579 9.9583 3.49869 9.28578 3.49967 8.43595L3.50594 8.2198L3.50437 7.49945C3.50437 6.90192 3.76644 6.3656 4.18191 5.99915L1.50381 5.99956ZM8.00007 0C6.61916 0 5.49972 1.11939 5.49972 2.50022C5.49972 3.88105 6.61916 5.00044 8.00007 5.00044C9.38098 5.00044 10.5004 3.88105 10.5004 2.50022C10.5004 1.11939 9.38098 0 8.00007 0ZM3.00017 0.999926C1.89562 0.999926 1.0002 1.89529 1.0002 2.99978C1.0002 4.10427 1.89562 4.99963 3.00017 4.99963C4.10472 4.99963 5.00013 4.10427 5.00013 2.99978C5.00013 1.89529 4.10472 0.999926 3.00017 0.999926Z" fill="currentColor" /></svg>');
    background-size: 100%;
}

.cvcConfidenceLow:before {
    background: url('data:image/svg+xml;utf8,<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.23022 0.173853C5.54843 0.439026 5.59142 0.911949 5.32625 1.23016L2.82625 4.23016C2.58087 4.52461 2.15297 4.58667 1.83405 4.37406L0.334055 3.37406C-0.010592 3.14429 -0.103722 2.67864 0.126042 2.33399C0.355806 1.98935 0.821458 1.89622 1.1661 2.12598L2.10536 2.75215L4.17391 0.269881C4.43909 -0.0483272 4.91201 -0.0913202 5.23022 0.173853ZM16.0001 2.75C16.0001 3.16421 15.6643 3.5 15.2501 3.5H6.75012C6.33591 3.5 6.00012 3.16421 6.00012 2.75C6.00012 2.33579 6.33591 2 6.75012 2H15.2501C15.6643 2 16.0001 2.33579 16.0001 2.75ZM16.0001 12.75C16.0001 13.1642 15.6643 13.5 15.2501 13.5H6.75012C6.33591 13.5 6.00012 13.1642 6.00012 12.75C6.00012 12.3358 6.33591 12 6.75012 12H15.2501C15.6643 12 16.0001 12.3358 16.0001 12.75ZM15.2501 8.5C15.6643 8.5 16.0001 8.16421 16.0001 7.75C16.0001 7.33579 15.6643 7 15.2501 7H6.75012C6.33591 7 6.00012 7.33579 6.00012 7.75C6.00012 8.16421 6.33591 8.5 6.75012 8.5H15.2501Z" fill="currentColor"/></svg>');
    background-size: 100%;
}

.cvcConfidenceMedium:before {
    background: url('data:image/svg+xml;utf8,<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M5.23022 0.173853C5.54843 0.439026 5.59142 0.911949 5.32625 1.23016L2.82625 4.23016C2.58087 4.52461 2.15297 4.58667 1.83405 4.37406L0.334055 3.37406C-0.010592 3.14429 -0.103722 2.67864 0.126042 2.33399C0.355806 1.98935 0.821458 1.89622 1.1661 2.12598L2.10536 2.75215L4.17391 0.269881C4.43909 -0.0483272 4.91201 -0.0913202 5.23022 0.173853ZM16.0001 2.75C16.0001 3.16421 15.6643 3.5 15.2501 3.5H6.75012C6.33591 3.5 6.00012 3.16421 6.00012 2.75C6.00012 2.33579 6.33591 2 6.75012 2H15.2501C15.6643 2 16.0001 2.33579 16.0001 2.75ZM16.0001 12.75C16.0001 13.1642 15.6643 13.5 15.2501 13.5H6.75012C6.33591 13.5 6.00012 13.1642 6.00012 12.75C6.00012 12.3358 6.33591 12 6.75012 12H15.2501C15.6643 12 16.0001 12.3358 16.0001 12.75ZM15.2501 8.5C15.6643 8.5 16.0001 8.16421 16.0001 7.75C16.0001 7.33579 15.6643 7 15.2501 7H6.75012C6.33591 7 6.00012 7.33579 6.00012 7.75C6.00012 8.16421 6.33591 8.5 6.75012 8.5H15.2501Z" fill="currentColor"/> <path d="M5.32625 6.23016C5.59142 5.91195 5.54843 5.43903 5.23022 5.17385C4.91201 4.90868 4.43909 4.95167 4.17391 5.26988L2.10536 7.75215L1.1661 7.12598C0.821458 6.89622 0.355806 6.98935 0.126042 7.33399C-0.103722 7.67864 -0.010592 8.14429 0.334055 8.37406L1.83405 9.37406C2.15297 9.58666 2.58087 9.5246 2.82625 9.23016L5.32625 6.23016Z" fill="currentColor"/></svg>');
    background-size: 100%;
}

.cvcConfidenceHigh:before {
    background: url('data:image/svg+xml;utf8,<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.23022 0.173853C5.54843 0.439026 5.59142 0.911949 5.32625 1.23016L2.82625 4.23016C2.58087 4.52461 2.15297 4.58667 1.83405 4.37406L0.334055 3.37406C-0.010592 3.14429 -0.103722 2.67864 0.126042 2.33399C0.355806 1.98935 0.821458 1.89622 1.1661 2.12598L2.10536 2.75215L4.17391 0.269881C4.43909 -0.0483272 4.91201 -0.0913202 5.23022 0.173853ZM16.0001 2.75C16.0001 3.16421 15.6643 3.5 15.2501 3.5H6.75012C6.33591 3.5 6.00012 3.16421 6.00012 2.75C6.00012 2.33579 6.33591 2 6.75012 2H15.2501C15.6643 2 16.0001 2.33579 16.0001 2.75ZM16.0001 12.75C16.0001 13.1642 15.6643 13.5 15.2501 13.5H6.75012C6.33591 13.5 6.00012 13.1642 6.00012 12.75C6.00012 12.3358 6.33591 12 6.75012 12H15.2501C15.6643 12 16.0001 12.3358 16.0001 12.75ZM15.2501 8.5C15.6643 8.5 16.0001 8.16421 16.0001 7.75C16.0001 7.33579 15.6643 7 15.2501 7H6.75012C6.33591 7 6.00012 7.33579 6.00012 7.75C6.00012 8.16421 6.33591 8.5 6.75012 8.5H15.2501ZM5.32625 11.2302C5.59142 10.9119 5.54843 10.439 5.23022 10.1739C4.91201 9.90868 4.43909 9.95167 4.17391 10.2699L2.10536 12.7521L1.1661 12.126C0.821458 11.8962 0.355806 11.9893 0.126042 12.334C-0.103722 12.6786 -0.010592 13.1443 0.334055 13.3741L1.83405 14.3741C2.15297 14.5867 2.58087 14.5246 2.82625 14.2302L5.32625 11.2302Z" fill="currentColor"/><path d="M5.32625 6.23016C5.59142 5.91195 5.54843 5.43903 5.23022 5.17385C4.91201 4.90868 4.43909 4.95167 4.17391 5.26988L2.10536 7.75215L1.1661 7.12598C0.821458 6.89622 0.355806 6.98935 0.126042 7.33399C-0.103722 7.67864 -0.010592 8.14429 0.334055 8.37406L1.83405 9.37406C2.15297 9.58666 2.58087 9.5246 2.82625 9.23016L5.32625 6.23016Z" fill="currentColor"/></svg>');
    background-size: 100%;
}

.cvcCrowdedNoRush:before,
.cvcCrowdedMediumRush:before,
.cvcCrowdedHighRush:before,
.cvcConfidenceHigh:before,
.cvcConfidenceMedium:before,
.cvcConfidenceLow:before {
    content: "";
    height: 14px;
    width: 14px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
    color: rgb(40, 40, 45);
}

.sessions_age_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sessions_age {
    margin: 0 5px;
}

.sessions_wrapper {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin: 10px 0;
}

.session {
    color: white;
    margin: 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    white-space: nowrap;
}

.session_date {
    font-size: 14px;
    font-weight: 400;
}

.session_day {
    font-size: 13px;
}

.session_date_string {
    font-weight: 600;
}

.session_availability {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.session_active {
    background-color: #04884a;
}

.session_inactive {
    background-color: #ffffff;
    color: #7d7d97;
}