.navbar_wrapper {
  /* position: fixed; */

  height: 80px;
  /* height: 4rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white-pure);
  /* backdrop-filter: blur(50px); */

  z-index: 3;

  border-bottom: 1px solid;
  border-color: var(--grey);

  /* div {
      width: 100%;
      display: flex;
  
      a {
        cursor: pointer;
        // Very bad idea to uae margin here
        // Use `gap` instead
        // margin: 0 8px;
        // gap didn't seem to be compatible with Safari, only works on 70% of browsers apparently
      }
    } */
}

.navbar_content {
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.routes {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 10px;
  /* gap: 20px; */
  /* font-size: 25px; */

  /* font-weight: 700; */

  /* color: var(--blue-pure); */
  color: var(--black);
}

.routes a {
  margin: 5px;
  padding: 6px 12px;
  border: 1px solid #fff;
  border-radius: 10px;


}

.routes a:hover {
  border: 1px solid #D2D5DA;

}

.logo_wrapper {
  display: flex;
  align-items: center;

  gap: 14px;

  font-size: 35px;

  font-weight: 700;
}

.active_route {
  /* text-decoration: underline; */
  /* background: #F3F5FC; */
  background: #F3F4F6;
}

.cross, .hamburger {
    display: none;
}




@media only screen and (max-device-width: 800px) {
    .hamburger_line {
        width: 24px;
        height: 2px;
        background-color: var(--blue-strong);
        margin: 3px 0;
    }

    .hamburger {
        background: none;
        border: none;
        display: block;
    }

    /* .navbar_content_mobile {
        background: var(--white-pure);
        flex-direction: column;
        position: fixed;
        right: 0;
		top: 0;
        width: 375px;
        height: 233px;
        box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.25);
    } */

    .routes_mobile {
        display: none;
    }

    .logo_wrapper {
        margin-top: 28px;
    }

    .logo_wrapper img {
        width: 176px;
        height: 30px;
    }

    .routes {
        flex-direction: column;
        margin-bottom: 41px;
    }

    .routes a {
        text-align: center;
    }

    .cross {
        background: none;
        border: none;
        position: absolute;
        top: 39px;
        right: 37px;
    }
    
    .cross_line {
        width: 24px;
        height: 2px;   
        background: var(--blue-strong);
        position: relative;
    }

    .cross_1 {
        transform: rotate(45deg);
        top: 2px;
    }
    .cross_2 {
        transform: rotate(-45deg);
    }

}