.navbar_wrapper {
  /* position: fixed; */

  height: 100px;
  /* height: 4rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white-pure);
  /* backdrop-filter: blur(50px); */

  z-index: 3;

  border-bottom: 2px solid;
  border-color: var(--blue-strong);

  /* div {
      width: 100%;
      display: flex;
  
      a {
        cursor: pointer;
        // Very bad idea to uae margin here
        // Use `gap` instead
        // margin: 0 8px;
      }
    } */
}

.navbar_content {
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.routes {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  /* gap: 20px; */
  /* font-size: 25px; */

  font-weight: 700;

  color: var(--blue-pure);
}

.routes a {
  margin: 10px;
}

.logo_wrapper {
  display: flex;
  align-items: center;

  gap: 14px;

  font-size: 35px;

  font-weight: 700;
}

.active_route {
  text-decoration: underline;
}