.searchBar {
  background: #ffffff;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 90px;
  font-size: 16px;
  height: 40px;
  padding: 6px 12px 6px 44px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 400px;
}

.searchBar:hover {
  border: 1px solid #7e828b;
}

.suggestionsContainer {
  width: 100%;
  z-index: 99999;
  background-color: white;
  max-height: 216px;
  overflow-y: scroll;
  position: absolute;
  margin-top: 2px;
  margin-left: 0;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.31), 0 3px 5px 0 rgba(9, 30, 66, 0.2);
  padding: 0;
}

.searchContainer {
  position: relative;
}

.searchContainer:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 20px;
  bottom: 0px;
  width: 20px;
  background-repeat: no-repeat;
  background: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M9.38382 16.2084C13.1529 16.2084 16.2084 13.1529 16.2084 9.38382C16.2084 5.61471 13.1529 2.55923 9.38382 2.55923C5.61471 2.55923 2.55923 5.61471 2.55923 9.38382C2.55923 13.1529 5.61471 16.2084 9.38382 16.2084Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.9145 17.9145L14.2037 14.2037' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A")
    center / contain no-repeat;
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat; */
}

.suggestion {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 36px;
  font-size: 14px;
  padding: 6px 46px 6px 46px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  cursor: pointer;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  color: var(--black);
  background-color: #fafbfc;
}

.suggestion:hover {
  background-color: #f2f5fd;
  outline: none;
}

.noSuggestion {
  pointer-events: none;
  opacity: 0.7;
}

.activeSuggestion {
  background-color: #f2f5fd;
  outline: none;
}
